.menu-title{
    background-color:red;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    padding: 0.5rem 0;
    color: white;
    .login-search{
        display: flex;
        .login{
            margin: 0 1rem;
            font-family: sans-serif;
        }
        .pipe{
            margin: 0 1rem;
            font-family: sans-serif;
        }
        .sign{
            margin: 0 1rem;
            font-family: sans-serif;
        }
        .search{
            margin: 0 1rem;
            font-family: sans-serif;
            display:flex
        }
    }
}
.topics{
    background-color: #f1f1f1;
    .topics-list{
        display: flex;
        list-style: none;
        font-family: sans-serif;
        flex-direction: row;
        justify-content: space-evenly;
        padding: 1rem 30rem;
        border-bottom: 1.5px solid rgba(0, 0, 0, 0.17);
        font-size: 0.85rem;

    }
}



